body {
    background-image: linear-gradient(to right , #0099ff , #004aac);
    user-select: none;
}

.div1 {
    font-size: 150%;
    color: cornsilk;
}

.container   {
    text-align: center;

}

            p   {
            font-size: 140%;
}

            button  {
            color: white;
            float: none;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #2f3640;
            align-items: center;
}   
